@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap');

html {
  box-sizing: border-box;  
}
  
*, *:after, *:before {
  box-sizing: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
}

.form {
  max-width: 792px;
  min-height: 823px;
  margin: 0 auto;
  padding: 20px 30px 28px 30px;
  background-color: #F2F0F9;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}

.container {
  max-width: 580px;
  margin: 0 auto;
  padding-top: 12px;
}

.form__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #6E6893;
  margin: 0 0 43px;
}

.modal-overlay {
  background-color: red;
}

.form__closing {
  border: none;
  outline: none;
  float: right;
  padding: 0;
}

.add-product__border {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  column-gap: 24px;

  margin: 0 0 32px;
  padding: 28px;
  border-radius: 8px;
  background-color: #FFFFFF;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}



.add-product__text {
  display: block;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #6E6893;
  text-indent: 10px;
}

.add-product__input-field {
  width: 100%;
  height: 40px;
  background-color: #F2F0F9;
  padding: 0 0 0 10px;
  border-radius: 6px;
  border: none;
  margin: 5px 0 12px 0;
}

.add-product__input-field:last-child {
  margin: 5px 0 0 0;
}

.add-product__input-field-discount {
  width: 100%;
  height: 40px;
  border-radius: 6px;
  background-color: #EEEEEE;;
  padding: 0 0 0 50px;
  margin-left: 50px;
  border: none;
}

.discount {
  display: flex;
  margin: 5px 0 12px 0;
}

.add-product__discount {
  text-transform: uppercase;
  color: #6E6893;
  margin: 12px 0 5px 10px;
}

.add-product__checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.add-product__checkbox:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #F2F0F9;
  border-radius: 8px; 
}

.add-product__checkbox:after {
  content: '';
  position: absolute;
  top: 12px;
  left: 10px;
  width: 20px;
  height: 10px;
  border: 3px solid black;
  border-top: none;
  border-right: none;
  opacity: 0;
  transform: rotate(-45deg);
}

.add-product__checkbox:focus-visible {
  outline: none
}

.add-product__checkbox:checked:after {
  opacity: 1
}

.add-product__checkbox:disabled:before {
  background-color: #cccccc;
}

.add-product__textarea {
  width: 100%;
  height: 112px;
  border-radius: 6px;
  padding: 5px 0 0 10px;
  background-color: #F4F2FF;
  border: none;
  margin: 5px 0 12px 0;
}

.form__block-image-button {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  background: #6d5bd0;
  border: none;
  outline: none;
  padding: 11px 29px 11px 28px;
  border-radius: 6px;
  height: 39px;
}

.form__footer {
  display: flex;
  justify-content: space-around;
}

.form__footer-text {
  display: flex;
  align-items: center;
  gap: 5px;
}

.form__footer-text-text {
  font-weight: 500;
  font-size: 14px;
  color: #6e6893;
}

.form__footer-price {
  font-weight: 700;
  font-size: 18px;
  color: #6d5bd0;
}


.add-product__button {
  width: 200px;
  height: 40px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #6D5BD0;
  padding: 0;
  border: none;
}